<div class="meeting">
  <em-spinner
    [isLoading]="isSending"
    fullScreen></em-spinner>
  <div class="flex center">
      <h2 mat-dialog-title>Nueva Reunión</h2>
  </div>
  <div>
    <mat-dialog-content>
      <form (keydown.enter)="$event.preventDefault()" [formGroup]="meetingForm" novalidate>
          <div class="flex between">
              <mat-form-field class="meeting__input-50">
                <input
                  matInput
                  [matDatepicker]="picker" 
                  placeholder="Fecha de reunión"
                  formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="meeting__input-50">
                <input formControlName="time" placeholder="Hora" matInput type="time">
              </mat-form-field>
          </div>
          <mat-form-field 
          class="meeting__input">
            <input
              matInput
              placeholder="Lugar"
              formControlName="place">
          </mat-form-field>
          <div class="topics" formArrayName="topics">
            <mat-form-field 
              class="meeting__input-container"
                *ngFor="let topic of meetingForm.get('topics')['controls']; let i = index">
                <input
                  minlength="1"
                  class="meeting__input"
                  matInput
                  placeholder="Tema a tratar"
                  [formControlName]="i"
                  (keydown)="enterPressed($event)">
                <mat-icon 
                  (click)="removeTopic(i)"
                  class="meeting__remove"
                  aria-label="Remove button"
                  *ngIf="meetingForm.get('topics')['controls'][i].value != ''">delete</mat-icon>
              </mat-form-field>
          </div>
        </form>
      </mat-dialog-content>
      <mat-dialog-actions class="flex around">
        <button mat-raised-button color="warn" [mat-dialog-close]="true">Cancelar</button>
        <button (click)="onSubmit()" mat-raised-button color="primary" [disabled]="!meetingForm.valid || !haveTopic() || isSending">Crear reunión</button>
      </mat-dialog-actions>
  </div>
</div>
