<div class="meeting">
  <em-spinner
    fullScreen
    [isLoading]="isLoading">
  </em-spinner>
  
  <div *ngIf="meeting" class="meeting-info">
    <h2>Detalles de reunión</h2>
    <p>Fecha {{meeting.date | date:short}}</p>
    <div class="meeting_topics">
      <h3>Temas a tratar</h3>
      <div class="meeting__topic" *ngFor="let topic of meeting.topics">
        <p>{{topic.topic}}</p>
        <button mat-raised-button color="primary">Agregar tarea</button>
      </div>
    </div>
  </div>
</div>
